.container {
    @include outer-container;
}
.row {
    @include row();
}
section {
    padding: 85px 25px;
    header {
        text-align: center;
        padding-bottom:45px;
        h2 {
            color: $red;
            &.white {
                color: $white;
            }
        }
        .subtitle {
            color: $grey;
            &.white {
                color:$white;
            }
        }
    }
}