$fontColor: #84868d;
$red: #ff675f;
$hoverRed: #f5534b;
$green: #7FBEAB;
$blue: #00BDBD;
$navBackground: #262b37;
$white: #fff;
$grey: #474d5d;
$footerColor: #93959c;
$inputBackground: #585f73;
$buttonActiveBlue: #15596e;
$transparentBlack: rgba(0, 0, 0, 0.7);
$transparentLight: rgba(0, 0, 0, 0.3);
$darkBlue: #1b1f29;
$navColor: #c3c8d6;
$backgrounButton: #373d4c;
$colorButtonHover: #ccc;
$skillsBackground:#eeeeee;
$experienceBackground:#f3f3f3;